* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #f4f4f4;
}
ul,
li {
  list-style: none;
}
input {
  border: 0px;
  padding: 0 0 0 5px;
}

#banner-wrap {
  position: relative;
  top: 200px;
  width: 100%;
  height: 110px;

  text-align: center;
  font-size: 70px;

  color: #e3d1d3;
  background-color: #f4f4f4;
}
.banner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#contents-wrap {
  position: relative;
  top: 200px;
  height: auto;
  background-color: #f4f4f4;
}

#contents-adder-wrap {
  position: relative;
  width: 360px;
  height: 45px;
  left: 50%;
  transform: translate(-50%, 0%);
  background-color: #a66;
}
.btnOpen {
  float: left;
  border: 0;
  outline: 0;
  width: 30px;
  height: 30px;
  background: url(images/open.png);
  background-size: 100% 100%;

  position: absolute;
  left: 7px;
  top: 7.5px;
}
.formAdder {
}
.formAdder > input {
  width: 270px;
  height: 30px;

  position: absolute;
  top: 7px;
  left: 45px;
}

#contents-list-wrap {
  position: relative;
  width: 360px;
  height: auto;
  left: 50%;
  transform: translate(-50%, 0%);
  background-color: #666;

  /* 그림자 */
}
.contentsList {
}

.list > li {
  position: relative;
  width: 360px;
  height: 45px;
  background-color: #aa6666;
}

.list > li > button {
  border: 0;
  outline: 0;
  width: 30px;
  height: 30px;
  background-size: 100% 100%;
}

.btnCheck {
  float: left;
  position: absolute;
  left: 7px;
  top: 7.5px;
}
.span {
  float: left;
  width: 270px;
  height: 34px;
  background-color: #e3d1d3;

  padding: 0 0 0 5px;
  position: absolute;
  top: 5.5px;
  left: 46.5px;
}
.btnDelete {
  float: left;
  position: absolute;
  right: 7px;
  top: 7.5px;

  background: url(images/delete.png);
}

/* #ADABAC */
