* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #f4f4f4;
}
ul,
li {
  list-style: none;
}

#banner-wrap {
  position: relative;
  top: 200px;
  width: 100%;
  height: 110px;

  text-align: center;
  font-size: 70px;

  color: #e3d1d3;
}
.banner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#contents-wrap {
  position: relative;
  top: 200px;
  display: inline;
}

#contents-adder-wrap {
  position: relative;
  width: 368px;
  height: 45px;
  left: 50%;
  transform: translate(-50%, 0%);
  background-color: #fcfcfc;

  border-top: 0.7px solid #dddddd;
  border-bottom: 1.2px solid #dddddd;
  border-left: 0.7px solid #dddddd;
  border-right: 0.7px solid #dddddd;

  box-shadow: 10px 10px 10px 1px #bdbbbb;
}
.btnFold {
  float: left;
  border: 0;
  outline: 0;
  width: 30px;
  height: 30px;
  background: url(images/open.png);
  background-size: 100% 100%;

  position: absolute;
  left: 7px;
  top: 7.5px;
}
.formAdder > input {
  outline: none;
  border: 0px;
  padding: 0 0 0 5px;
  width: 270px;
  height: 30px;

  position: absolute;
  top: 7px;
  left: 45px;
  color: rgb(142, 142, 142);
}
input::placeholder {
  color: rgb(241, 242, 242);
  font-style: italic;
}
#contents-list-wrap {
  position: relative;
  width: 360px;
  height: auto;
  left: 50%;
  overflow: hidden;
  transform: translate(-50%, 0%);
  background-color: transparent;

  box-shadow: 5px 7px 15px 1px #bdbbbb;
}

.list > li {
  position: relative;
  width: 360px;
  height: 45px;
  background-color: #fcfcfc;

  border-bottom: 1.2px solid #dddddd;
  border-left: 0.5px solid #dddddd;
  border-right: 0.5px solid #dddddd;
}
.list > li > button {
  border: 0;
  outline: 0;
  width: 30px;
  height: 30px;
  background-size: 100% 100%;
}
.btnCheck {
  float: left;
  position: absolute;
  left: 7px;
  top: 7.5px;
}
.span {
  float: left;
  width: 270px;
  height: 34px;
  background-color: #fcfcfc;

  padding: 5px 0 0 5px;
  position: absolute;
  top: 5.5px;
  left: 46.5px;
  font-size: 15px;
  color: rgb(142, 142, 142);
}
.btnDelete {
  float: left;
  position: absolute;
  right: 7px;
  top: 7.5px;

  background: url(images/delete.png);
}

.footer2 {
  position: relative;
  left: 2px;
  width: 356px;
  height: 2px;
  background-color: rgb(245, 243, 245);

  border-bottom: 1.3px solid #dddddd;
  border-left: 0.3px solid #dddddd;
  border-right: 0.3px solid #dddddd;

  box-shadow: 5px 7px 15px 1px #bdbbbb;
}
.footer3 {
  position: relative;
  left: 4px;
  width: 352px;
  height: 1.5px;
  background-color: rgb(245, 243, 245);

  border-bottom: 1.3px solid #dddddd;
  border-left: 0.3px solid #dddddd;
  border-right: 0.3px solid #dddddd;

  box-shadow: 5px 7px 15px 1px #bdbbbb;
}
.footer {
  width: 360px;
  height: 33px;
  background-color: #fcfcfc;

  border-top: 0.2px solid #dddddd;
  border-bottom: 1.3px solid #dddddd;
  border-left: 0.3px solid #dddddd;
  border-right: 0.3px solid #dddddd;

  box-shadow: 5px 7px 15px 1px #bdbbbb;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.footer button {
  border: 0px solid #dddddd;
  border-radius: 5px;
  outline: 0px;
  background-color: #fcfcfc;
}

.itemsCount {
  padding-top: 6px;
}
.btnClear {
  margin: 3px;
}

.itemsCount,
.buttons > button,
.btnClear {
  color: rgb(167, 166, 166);
  font-size: 12px;
  height: 25px;
}
.buttons > button {
  float: left;
  margin: 3px;
}
/* .buttons * {
  color: rgb(167, 166, 166);
  font-size: 12px;
}
.btnClear {
  color: rgb(167, 166, 166);
  font-size: 12px;
} */
