ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

.js-toDoList > li {
  font-size: 30px;
}

.js-toDoList > li > button {
  vertical-align: middle;
  overflow: hidden;
  border: 0;
  outline: 0;
  width: 25px;
  height: 25px;
  background-color: transparent;
  background-size: 100% 100%;
}

.js-toDoAddBtn {
  vertical-align: middle;
  overflow: hidden;
  border: 0;
  outline: 0;
  width: 20px;
  height: 20px;
  background: url(images/write.png);
  background-size: 100% 100%;
}
